
.color {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 50vw;
  padding: 16px 0;
  margin: auto;
  color: #f8bbd3;
  background-color: #333333;
  border-radius: 16px;
}

.counter {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin: 8px 0;
}

